@using fooddeliverysystem.Models
@model List<ProductModel>
@{
    ViewBag.Title = "GetProductList";
    Layout = Session["UserId"] != null ? "~/Views/Shared/_AppLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price (in Rupees)</th>
            <th>CategoryType</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
        <tr>
            <td>
                @prod.ProductId
            </td>
            <td>
                @prod.ProductName
            </td>
            <td>
                @prod.Price
            </td>
            <td>
                @prod.CatId
            </td>
            
            <td style="cursor: pointer">
                <i onclick="editProduct(@prod.ProductId)" class="glyphicon glyphicon-pencil"></i>
                <i onclick="deletePlan(@prod.ProductId)" class="glyphicon glyphicon-trash"></i>
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    function editProduct(ProductId) {
        $.ajax({
            type: 'GET',
            url: "/AddProduct/GetProductDetail?ProductId=" + ProductId,
            data: null,
            dataType: 'json',
            success: function (response) {
                if (response != null) {
                    openModal();
                    $("#ProductId").val(response.ProductId);
                    $("#PlanName").val(response.ProductName);
                    $("#Price").val(response.Price);
                    $("#CatId").val(response.CatId);

                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('error');
            }, complete: function () {

            }
        });
    }

    function deletePlan(ProductId) {
        $.ajax({
            type: 'POST',
            url: "/AddProduct/DeleteProduct",
            data: {
                planId: planId
            },
            dataType: 'json',
            success: function (response) {
                if (response.IsSuccess == true) {
                    refreshProductList();
                    closeModal();
                    alert("Product has been deleted successfully.");

                }
                else {
                    alert("Not deleted");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('error');
            }, complete: function () {

            }
        });
    }

</script>

